.about {
    @mixin clearfix;
    font-family: "Roboto", sans-serif;
    padding-top: 8rem;

    &__wrapper {
        width: 100%;
        @mixin atSmall {
            padding: 5rem 7% 0;
        }
        @mixin atLarge {
            padding: 5rem 20% 0;
        }

    }

    & > h1 {
        font-family: "Exo 2", sans-serif;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }

    & > h4 {
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        color: $fontGold;
    }


    &__description {
        font-family: "Roboto", sans-serif;

        & > h2 {
            font-family: "Exo 2", sans-serif;
            margin-top: 0;
            
            @mixin atSmall {
                text-align: center;
            }
            @mixin atLarge {
                text-align: left;
            }
        }
        @mixin atSmall {
            float: none;
            margin: 0 auto;
            padding: 0;
            width: 80%;
            text-align: center;
        }
        @mixin atLarge {
            float: left;
            width: 50%;
            text-align: left;
        }
        
    }

    &__image{
        text-align: center;
         @mixin atSmall {
            float: none;
            margin: 0 auto;
            padding: 0;
        }
        @mixin atLarge {
            padding-top: 4rem;
            float: left;
        }
        
        
    }
} 