* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	@mixin atSmall {
		font-size: 100%;
	}

	@mixin atLarge {
		font-size: 112.5%;
	}
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #f3f3f3;
	line-height: 1.5;
	font-weight: 400;
}

p {
	margin-top: 0;
	margin-bottom: 1.85rem;
}

h1, h2, h3, h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.38;
}

h1 {
	margin-top: 0;
	
	@mixin atSmall {
		font-size: 199.9%;
	}

	@mixin atLarge {
		font-size: 282.7%;
	}
}

h2 {

	@mixin atSmall {
		font-size: 141.4%;
	}

	@mixin atLarge {
		font-size: 141.4%;
	}
}

h3 {

	@mixin atSmall {
		font-size: 141.4%;
	}

	@mixin atLarge {
		font-size: 144.1%;
	}
}

h4 {

	@mixin atSmall {
		font-size: 1.2rem;
	}

	@mixin atLarge {
		font-size: 1.414rem;
	}
}

img {
	max-width: 100%;
	height: auto;
}
