.equipment {
	background-color: #111517;
	padding: 6rem 2rem;
	width: 100%;
	height: 100%;


	&__items {
		position: relative;
		overflow: hidden;
		display: block;

		@mixin atSmall {
			float: none;
			width: 80%;
			margin: 0 auto;
		}

		@mixin atLarge {
			float: left;
			width: 50%;
		}
		
	}

	&__items > img {
		display: block;
		transition: opacity .5s ease-in, transform .5s ease-in;

		&:hover {
			transform: scale3d(1.1, 1.1, 1);
			opacity: .98;
		}
	}

	&__heading {
	
		font-family: "Exo 2", sans-serif;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 2rem;
		color: $fontWhite;

	}

	&__subheading {
	
		font-family: "Kaushan Script", cursive;
		text-align: center;
		color: $fontGold;
	}

	&__link {
		font-family: "Exo 2", sans-serif;
		font-size: 1.5rem;
		text-decoration: none;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		text-transform: uppercase;
		transform: perspective(1px) translate(-50%,-50%) scale(1,1);


        @mixin atSmall {
			font-size: 1.1rem;
		}
		@mixin atMedium {
			font-size: 1.5rem;
		}

		@mixin atLarge {
			font-size: 1.5rem;
		}



	}

	@mixin clearfix;

}