.equipment {

	&__items {
		position: relative;
		overflow: hidden;
		
	}

	&__items > img {
		display: block;
		transition: opacity .5s ease-in, transform .5s ease-in;

		&:hover {
			transform: scale3d(1.1, 1.1, 1);
			opacity: .98;
		}
	}

	&__heading {
		font-family: "Exo 2", sans-serif;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 2rem;
	}

	&__subheading {
		font-family: "Kaushan Script", cursive;
		text-align: center;
		color: $fontGold;
	}

	&__link {
		font-family: "Exo 2", sans-serif;
		font-size: 1.5rem;
		text-decoration: none;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		text-transform: uppercase;
		transform: translateX(-50%);

	}

	@mixin clearfix;

}