.main-footer {
	background: #1c1d25;
	padding: 5rem 0;
	width: 100%;

	&__social {
		margin: 0 auto;
		text-align: center;
	}

	&__copyrights {
		font-family: "Exo 2", sans-serif;
		color: $fontWhite;
		text-align: center;
		font-size: .8rem;
	}
}

.cls-1 {
	fill:#c3c3c3;
} 

.cls-1:hover{
	fill:#cd926d; 
	transition: fill .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

