.gallery {
	width: 100%;
	padding: 6rem 0;


	&__heading {
		font-family: "Exo 2", sans-serif;
		text-transform: uppercase;
		text-align: center;	
	}

	&__subheading {
		font-family: "Kaushan Script", cursive;
		color: #9c613c;
		text-align: center;
		margin: 0;
		
	}

	&__wrapper {
		margin: 0 auto;
		padding: 2rem 0;
		column-count: 1;
		column-gap: 0;	

		@mixin atSmall {
			column-count: 1;
		}

		@mixin atMedium {
			column-count: 2;
		}

		@mixin atLarge {
			column-count: 3;
		}
	}

	&__item {
		margin: 10px;
		position: relative;

		&__wrapper {

			&::before {
			content: "";
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			bottom: 10px;
			right: 10px;
			opacity: 0;
			transition: left .3s ease, 
				right .3s ease, 
				top .3s ease, 
				bottom .3s ease, 
				visibility .3s ease,
				opacity .3s ease;
			visibility: hidden;
			background: linear-gradient(to left, #554346,#45505b);
			z-index: 1;

			}
	
		}

		&:hover .gallery__item__wrapper:before {
			top: 10px;
			bottom: 16px;
			left: 10px;
			right: 10px;
			visibility: visible;
			opacity: .8;
			transition: left .3s ease, 
			right .3s ease, 
			top .3s ease, 
			bottom .3s ease, 
			visibility .3s ease,
			opacity .3s ease;
            cursor: crosshair;
			}

			&__title {
				position: absolute;
				z-index: 2;
				width: 100%;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				padding: 0 20px;

				&__heading {
					text-align: center;
					margin-left: -50px;
					font-family: "Exo 2", sans-serif;
					opacity: 0;
					text-transform: uppercase;
					font-size: 1.7rem;
					font-weight: 600;
					color: $fontWhite;
					transition: margin .6s ease, opacity .6s ease;

				    @mixin atSmall {
                        font-size: 1.2rem;
                    }
				}
			}

			&:hover .gallery__item__title__heading {
				opacity: 1;
				margin-left: 0;
				transition: margin .6s ease, opacity .6s ease; 
			}
	}
}

.no-csscolumns  {

    & .gallery__item {
          float: left;
          width: 45%;
          padding: 0 2.5%;
          @mixin atSmall {
              width: 100%;
          }

      }
    & .gallery__wrapper {
          @mixin clearfix;
          width: 100%;

      }
}

