.gallery {
	width: 100%;


	&__heading {
		font-family: "Exo 2", sans-serif;
		text-transform: uppercase;
		text-align: center;	
	}

	&__subheading {
		font-family: "Kaushan Script", cursive;
		color: $fontGold;
		text-align: center;
		margin: 0; 
	}

	&__wrapper {
		margin: 0 auto;
		padding: 2rem 0;
		column-count: 3;
		column-gap: 0;	
	}

	&__item {
		margin: 10px;
		position: relative;
		perspective: 800px;

		&__wrapper {

			&::before {
			content: "";
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			bottom: 10px;
			right: 10px;
			opacity: 0;
			transition: left .3s ease, 
				right .3s ease, 
				top .3s ease, 
				bottom .3s ease, 
				visibility .3s ease,
				opacity .3s ease;
			visibility: hidden;
			background: linear-gradient(to left, #554346,#45505b);
			z-index: 1;

			}
	
		}

		&:hover .gallery__item__wrapper:before {
			top: 10px;
			bottom: 16px;
			left: 10px;
			right: 10px;
			visibility: visible;
			opacity: .8;
			transition: left .3s ease, 
			right .3s ease, 
			top .3s ease, 
			bottom .3s ease, 
			visibility .3s ease,
			opacity .3s ease;
			}

			&__title {
				position: absolute;
				z-index: 2;
				width: 100%;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				padding: 0 20px;

				&__heading {
					text-align: center;
					margin-left: -50px;
					font-family: "Exo 2", sans-serif;
					opacity: 0;
					text-transform: uppercase;
					font-size: 2rem;
					font-weight: 600;
					color: $fontWhite;
					transition: margin .6s ease, opacity .6s ease; 
				}
			}

			&:hover .gallery__item__title__heading {
				opacity: 1;
				margin-left: 0;
				transition: margin .6s ease, opacity .6s ease; 
			}
	}
}

