.info-section {
		width: 100%;
		margin-top: -6px;
		border-top: 5px solid $fontGold;
		@mixin clearfix;	

	&__info-block {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		min-height: 21rem;

		@mixin atSmall {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			padding: 8% 4%;
			float: none;
		}

		@mixin atMedium {
			padding: 8% 10%;	
		}

		@mixin atLarge {
			width: 33.3333%;
			float: left;
			padding: 2% 4%;
			text-align: left;
		}

		&__heading {
			font-family: "Exo 2", sans-serif;
			text-transform: uppercase;
		}

		&:first-child {
			background: url('../../assets/img/news_left_811x540.jpg') no-repeat center center;
			background-size: cover;
		}

		&:last-child {
		background: url('../../assets/img/news_right_809x540.jpg') no-repeat center center;
		background-size: cover;
		}

		&--black {
			background-color: $black;
			border: 3px solid $black;
			color: $fontWhite;
		}
		

	}
}
