.info-section {
		width: 100%;
		margin-top: -8px;
		border-top: 5px solid $fontGold;

		@mixin atLarge {
			display: flex;
		}

	&__info-block {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		text-align: center;
		flex: 1;

		@mixin atSmall {
			padding: 15% 4% 8%;
		}

		@mixin atMedium {
			padding: 8% 10%;	
		}

		@mixin atLarge {
			padding: 4% 4% 2%;
		}

		&__heading {
			font-family: "Exo 2", sans-serif;
			text-transform: uppercase;
			margin-top: 0;
		}

		&:first-child {
			background: url('../../assets/img/news_left_811x540.jpg') no-repeat center center;
			background-size: cover;
		}

		&:last-child {
		background: url('../../assets/img/news_right_809x540.jpg') no-repeat center center;
		background-size: cover;
		}

		&--black {
			background-color: $black;
			border: 3px solid $black;
			color: $fontWhite;
		}
		

	}
}
