.main-hero {
	position: relative;
	width: 100%;
	overflow: hidden;

	&__background {
		position: relative;
		width: 100%;
		height: auto;
		z-index: -1;
	}

	&__video {
		position: absolute;
		top: -.5%;
		left: 0;

		&--hidden {
			visibility: hidden;
			display: none;
		}

		&--visible {
			visibility: visible;
			display: block;
		}

	}

	&__callout {
		position: absolute;
		top: 45%;
		left: 50%;
		width: 80%;
		transform: translate3d(0,0,0);
		backface-visibility: hidden;

		@mixin atSmall {
			text-align: center;
			width: 90%;
			top: 30%;
			top: 40vw;
		}

		@mixin atMedium {
			top: 18vw;
			width: 75%;
		}


		@mixin atLarge {		
			text-align: right;
			top: 18vw;
			width: 75%;
		}

	}

	&__main-heading {
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 0;
		font-family: "Exo 2", sans-serif;
		font-weight: 700;
		font-size: 4vw;
		line-height: 1.1;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
		transform: perspective(1px) scale(1.01);
		backface-visibility: hidden;

		@mixin atSmall {
			text-align: center;
			font-size: 6vw;
		}

		@mixin atMedium {
			text-align: center;
			font-size: 4vw;
		}

		@mixin atLarge {
			text-align: right;
			font-size: 4vw;
		}
	}

	&__subheading {
		font-family: 'Kaushan Script', cursive;
		font-weight: 400;
		color: $fontWhite;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
		margin: 0;
		padding: 1.5rem 0;
		transform: perspective(1px) scale(1.01);
		backface-visibility: hidden;

		@mixin atSmall {
			font-size: 1.2rem;
			text-align: center;
		}

		@mixin atMedium {
			font-size: 1.4rem;
			text-align: center;
			padding: 1rem 0;
		}

		@mixin atLarge {
			font-size: 2rem;
			text-align: right;
		}
	}

}

@keyframes slide {
	from {
		width: 100%;
	}

	to {
		width: 0%;
	}
}