.main-hero {
	position: relative;
	width: 100%;

	&__background {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		z-index: -1;
	}

	&__callout {
		position: absolute;


		@mixin atSmall {
			top: 80%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

		@mixin atLarge {
			top: 28%;
			left: 15%;
			transform: none;
		}
		

	}

	&__main-heading {
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 0;
		font-family: "Exo 2", sans-serif;
		font-weight: 700;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);


		@mixin atSmall {
			font-size: 1rem;
			text-align: center;
		}

		@mixin atLarge {
			font-size: 4.5rem;
			text-align: left;
		}
	}

	&__subheading {
		font-family: "Exo 2", sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

		@mixin atSmall {
			font-size: 1rem;
			text-align: center;
		}

		@mixin atLarge {
			font-size: 2.5rem;
			text-align: left;
		}
	}

	&__info-section {
		position: absolute;
		top: 85%;
		padding: 0 2rem;
	}
}

