.row {
	&__column {
		@mixin clearfix;
	}

	&__6 {
		width: 50%;
	}

	&--pull-right {
		float: right;
	}

	&--pull-left {
		float: left;
	}

	&--gutter-top {
		padding-top: 12rem;
	}

	&--gutter-smaller-top-btm {
		padding: 6rem 0;
	}

	&--gutters {
		padding: 8rem 4rem;
	}
}