.row {

	&--centered {
			margin: 0 auto;
			display: block;
			position: relative;
	}

	&__column {
		position: relative;
		@mixin clearfix;
		z-index: 5;
	}

	&__6 {
		width: 50%;
		float: left;
	}

	&__8 {
		width: 66.666667%;
	}

	&--pull-right {
		float: right;
	}

	&--pull-left {
		float: left;
	}

	&--gutter-top {
		padding-top: 8rem;
	}

	&--gutter-smaller-top-btm {
		padding: 6rem 0;
	}

	&--gutters {
		padding: 8rem 4rem;
	}
}