.story {
	background-color: #111517;

	& > h1 {
		font-family: "Exo 2", sans-serif;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 4rem;
		color: $fontWhite;
	}

	& > h4 {
		font-family: "Kaushan script", cursive;
		text-align: center;
		color: $fontGold;
		padding-top: .9rem;
		margin-bottom: 0;
	}

	&--left {
		transform: translateX(25px);
	}

	&--right {
		transform: translateX(-25px);
	}

	&__image {
		position: relative;
		z-index: 6;
		width: 70%;
		max-width: 949px;
		max-height: 534px;
		
	}

	&__mask {
		content: "";
		width: 0%;
		height: 100%;
		max-width: 949px;
		max-height: 534px;
		z-index: 6;
		background: linear-gradient(270deg,rgba(35,90,166,.7),rgba(16,27,59,.7));
		position: absolute;
		left: 0;
		
	}
	
	&__desc {
		position: absolute;
		z-index: 7;
		top: 50%;
		transform: translateY(-50%);
		max-width: 600px;
		color: $fontWhite;

		& > h1 {
			font-family: "Exo 2", sans-serif;
			
			font-size: 2.5rem;
		}

		&--left {
			left: 15%;
			
		}

		&--right {
			text-align: right;
			right: 15%;

		}
	}

	&__text {
		font-family: "Exo 2", sans-serif;
		text-shadow: 5px 5px 11px rgba(74,74,74,.5);
		color: #fff;
		font-size: 13rem;
		line-height: 1;
		text-align: center;
		width: 200px;
		height: 200px;
		position: absolute;
		right: -4%;
		z-index: 7;
		opacity: 0;

		&--left {
			top: -7%;
			left: -2.5%;

		}
	}


	&__text__overlay {
		color: #fff;
		opacity: .2;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;
		
	}
}