.story {
	background-color: #111517;
	padding: 6rem 1rem;
	width: 100%;
	position: relative;
	transform: skew(0, 5deg);

	@mixin atSmall {
		padding: 6rem 1rem;
	}

	@mixin atLarge {
		padding: 6rem 0;
	}

	&__wrapper {
		padding-top: 3rem;
		
	}

	&__heading {
	font-family: "Exo 2", sans-serif;
	color: $fontWhite;
	text-transform: uppercase;
	text-align: center;
	transform: perspective(1px) scale(1,1) skew(0, -5deg);

	}

	&__subheading {
		font-family: "Kaushan Script", cursive;
		color: $fontGold;
		text-align: center;
		transform: perspective(1px) scale(1,1) skew(0, -5deg);

	}
	&__desc {
		transform: perspective(1px) scale(1,1) skew(0, -5deg);
		color: $fontWhite;
		padding-top: 3rem;

		&__heading {
			font-family: "Exo 2", sans-serif;
			text-transform: uppercase;
			max-width: 43rem;
			margin: 0 auto 1.5rem;
			padding-left: 1rem;

		}
		&__text {
			max-width: 43rem;
			margin: 0 auto;
			padding-left: 1rem;
			
		}

		&__img {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;
		}

	}

	&__emp {
		font-style: italic;
		margin: 0 auto;
		max-width: 40rem;
		font-size: 141.4%;
		position: relative;
		padding-left: 2rem;
		
		&__borders--hidden {
			
			&::before {
			content: "";
			position: absolute;
			height: 0%;
			width: 2px;
			background-color: $fontGold;
			transform: translateX(-1rem); 
			transition: height 1s ease-in;
			@mixin atSmall {
				transform: translateX(-1rem);
				}

			@mixin atLarge {
				transform: translateX(-3rem);
				}
			}
		}
		&__borders--visible {

			&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 2px;
			background-color: $fontGold;
			transform: translateX(-1rem); 

			@mixin atSmall {
				transform: translateX(-1rem);
				}

			@mixin atLarge {
				transform: translateX(-3rem);
				}
			}
			

		}
	

		
	}



	

	
}