/*=============================
=           FONTS            =
=============================*/

abbr {
    font-family: "Exo 2", sans-serif;
    letter-spacing: .05rem;
}


/*==============================
=            Header            =
==============================*/

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
}

.logo {
    left: 2rem;
    top: 2rem;
    position: absolute;
    min-width: 15em;
    z-index: 5000;
}

.logo:hover {
    text-decoration: none;
    color: white;
}

.main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    text-align: center;
    background-color: goldenrod;
    width: 60%;
    height: 100vw;
    opacity: 0;
}

.nav {
    width: 30em;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
}

.nav li > a {
    display: block;
    -ms-flex: 1 1 30em;
    flex: 1 1 30em;
    background-color: indianred;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 1em;
    margin-top: 2px;
}

.wraper {
    position: relative;
    height: 100%;
    width: 100%;
}

#preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.preloader-animation {
	margin: 50vh 50vw;
	width: 50px;
	height: 50px;
	background: url('../img/preloader.gif') no-repeat center center;
}

.hamburger {
    position: relative;
    height: 17px;
    margin: 2.81rem 2rem 0 0;
    z-index: 5000;
    float: right;
}

.inner-ham {
    width: 2.9rem;
    transition: .2s ease-in;
}

.inner-ham, .inner-ham::before, .inner-ham::after {
    height: 3px;
    background-color: black;
    border-radius: 20px;
}

.inner-ham::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.9rem;
}

.inner-ham::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.9rem;
}

.hamburger:hover > .inner-ham::before {
    width: 2.9rem;
    transition: width .2s ease-in-out;
}

.is-open {
    right: 0;
    opacity: 1;
    z-index: 5000;
}

.scroll-hidden {
    overflow-y: hidden;
}


/*=============================================
=            	HERO BLOCK		            =
=============================================*/

.hero-container {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#parallax {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
}

.layer {
    width: 100%;
    height: 100%;
}

#moving-img {
	background: url("../img/dejan_813x800.png") no-repeat center center;
}

.layer div:first-child {
    width: 100%;
    height: 100%;
    background: url('../img/hero_background_1920x1080.jpg') no-repeat center;
    background-size: cover;
}

body {
    overflow-x: hidden;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/binding_dark.png') repeat;
    opacity: .63;
    z-index: 1000;
}

.callout-wraper {
   position: relative;
}

.callout-inner-wraper {
    z-index: 5000;
    position: absolute;
    right: 12%;
}

.hero-callout {
    margin-top: 33vh;
    color: #FCFCFC;
    z-index: 1;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 3px #000;
}

.hero-callout::before {
    content: "profesionalni instuktor";
    display: block;
    font-family: "Exo 2", sans-serif;
    font-size: 2rem;
    letter-spacing: .05rem;
    font-weight: 400;
    text-transform: uppercase;
}

.hero-button {
    position: relative;
   	padding: 1.5em 4.3em;
    background-color: #af3a30;
    color: white;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-size: .8rem;
    letter-spacing: .03rem;
}

.hero-button::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12%;
    height: 12%;
    background-color: #cd926d;
}

.hero-button::after, 
.hero-button, 
.default-button::after, 
.default-button {
    transition: background-color .4s;
}

.hero-button:hover::after, 
.default-button:hover::after {
    background-color: #af3a30;
}

.hero-button:hover, 
.default-button:hover {
    background-color: #cd926d;
}


/*=============================================
=            MAIN CONTENT SECTION          =
=============================================*/
.main-content {
	z-index: 5000;
}
.desc {
    text-align: center;
    padding: 5% 5%;
}

.desc h2 {
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
}

.content {
    margin-bottom: .9375rem;

}

.showcase {
    background: url('../img/about_1024x768.jpg') no-repeat center;
    background-size: cover;
    min-height: 32.989rem;
    padding-right: .9375rem;
    padding-left: 0;
    border-radius: 10px;
}

div.small-12.large-6.large-push-6.columns.showcase {
    padding-right: 0;
    padding-left: .9375rem;
}

.content-section {
    padding: 0 .9375rem;
    height: 100%;
}

.content:nth-child(2) .desc h2::after, .content:first-child .desc h2::after {
    content: "";
    display: block;
    height: 3rem;
    margin: 0 auto;
}

.content:first-child .desc h2::after {
    width: 7rem;
    background: url('../img/gun-image.svg') no-repeat center;
}

.content:nth-child(2) .desc h2::after {
    width: 8rem;
    background: url('../img/book.svg') no-repeat center;
}

.desc p {
    font-family: "Roboto", Arial, sans-serif;
}

.news {
    margin: -6rem 0 1.2rem;
    padding: 0 .9375rem;
    position: relative;
    z-index: 1200;
}

.news-content {
    height: 100%;
    padding: 3rem 3rem 2rem 3rem;
}


.news-content h5 {
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
}

.news-content:first-child h5::before, .news-content:last-child h5::before, .news-content:nth-child(2) h5::before {
    display: block;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: .8rem;
    color: #cd926d;
    letter-spacing: .05rem;
}

.news-content:first-child h5::before {
    content: "level i";
}

.news-content:last-child h5::before {
    content: "level iii";
}

.news-content:nth-child(2) h5::before {
    content: "level ii";
}

.news-content p {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}

.news-content:nth-child(2) {
    background-color: #161415;
    color: #FCFCFC;
}

.news-content:nth-child(2) abbr {
    color: #FCFCFC;
}

.news-content:first-child {
    background: url('../img/news_left_811x540.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.news-content:last-child {
    background: url('../img/news_right_809x540.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
}

.content-section:first-child {
    margin-top: -50rem;
}

.equipment {
    width: 100%;
    text-align: center;
    background: url('../img/equipment_background.jpg') no-repeat center;
    background-size: cover;
}

.equipment h1 {
    margin: 0 0 2rem 0;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    color: #fcfcfc;
    text-transform: uppercase;
    padding-top: 6rem;
}

.equipment-wraper {
    padding-bottom: 4rem;
    height: 100%;
}

.equip {
    height: 16rem;
}

.equip span {
    display: block;
    font-family: "Exo 2", sans-serif;
    color: #fcfcfc;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 7rem;
}

.equipment-wraper .equip:first-child {
    background: url('../img/holsters.jpg') no-repeat center;
}

.equipment-wraper .equip:nth-child(2) {
    background: url('../img/pouch.jpg') no-repeat center;
}

.equipment-wraper .equip:nth-child(3) {
    background: url('../img/wear.jpg') no-repeat center;
}

.equipment-wraper .equip:last-child {
    background: url('../img/accesories.jpg') no-repeat center;
}

.equipment-wraper .equip:first-child, .equipment-wraper .equip:nth-child(2), .equipment-wraper .equip:nth-child(3), .equipment-wraper .equip:last-child {
    background-size: cover;
}


/*=============================================
=                   GALERY		            =
=============================================*/

.gallery {
    padding: 6rem 0;
    background-color: #161415;
    text-align: center;
    width: 100%;
}

.gallery > h1 {
    color: #fcfcfc;
    text-transform: uppercase;
}

.gallery img {
    padding-bottom: 1rem;
}

.gallery .default-button {
    margin-top: 2rem;
}


/*=============================================
=            	PLAN SECTION                 =
=============================================*/

.pick-plan {
    height: 100vh;
    text-align: center;
}

.pick-plan h1 {
    padding: 2rem 0;
}


/* .plan-wraper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
}

.plan-first-line, .plan-second-line {
	display: -ms-flexbox;
	display: flex;
	min-width: 15rem;
	min-height: 20rem;
}

.plan-first-line {
	margin-bottom: .45rem;
} */

.plan-light, .plan-expert, .plan-medium {
    padding: 5rem 2rem;
}

.plan-light, .plan-medium {
    background-color: #FCFCFC;
}

.plan-expert {
    background-color: #AF3A30;
}

.plan-expert .default-button {
    background-color: #FCFCFC;
    color: #AF3A30;
}

.default-button {
    position: relative;
    cursor: pointer;
    padding: 1.5em 4.3em;
    background-color: #AF3A30;
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
}

.default-button::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 10%;
    background-color: #cd926d;
}


/*=============================================
=               CONTACT SECTION 		     =
=============================================*/

.contact-info, .hotels {
    background-color: #161415;
    color: #A59C96;
    padding: 3rem 3rem;
}

.hotels {
    background-color: #fafafa;
    color: #000;
    padding: 3rem 3rem;
}

.hotels a {
    padding: .1em 0;
}

.contact-info > h1, .hotels > h1 {
    font-family: "Exo 2", Impact, sans-serif;
    text-transform: uppercase;
    color: #fcfcfc;
}

.contact-info address span {
    color: #fcfcfc;
}

.hotels > h1 {
    color: #000;
}

.contact-info, .hotels {
    height: 100%;
    font-family: "Roboto", Arial, sans-serif;
}

.contact, .map-container {
    height: 28.25rem;
    padding: 0;
}

.contact, .map-container {
    padding-bottom: 1rem;
}

#map {
    height: 100%;
    width: 100%;
}


/*=============================================
=            	MAIN FOOTER                  =
=============================================*/

.main-footer {
    width: 100%;
    background-color: #161415;
    color: #A59C96;
    padding: 3rem 1rem;
    font-family: "Roboto", Arial, sans-serif;
}

.footer-contact > h3, .footer-links > h3, .facebook-posts > h3 {
    color: #cd926d;
    text-transform: uppercase;
    font-family: "Exo 2", Impact, sans-serif;
}


/*=====================================
=            MEDIA QUERIES            =
=====================================*/

@media screen and (max-width: 64em) {
    .news {
        padding: 0 .625rem;
    }
    .showcase {
        background: url('../img/about_square_768x576.jpg') no-repeat center;
        background-size: cover;
    }
    .news-content:first-child {
        border-radius: 10px 10px 0 0;
    }
    .news-content:last-child {
        border-radius: 0 0 10px 10px;
    }
}

@media screen and (max-width: 85.5em) {
	.hero-callout {
		font-size: 3.5rem;
	}
	.hero-callout::before {
		font-size: 1.5rem;
	}
	.logo {
		min-width: 14em;
	}
}

@media screen and (max-width: 71.25em) {
	.hero-callout {
		font-size: 3rem;
	}
	.hero-callout::before {
		font-size: 1rem;
	}
	.hero-button, .default-button {
		font-size: .8rem;
	}
	.logo {
		min-width: 13em;
	}
}

@media screen and (max-width: 56.25em) {
	.hero-callout {
		font-size: 2.5rem;
		text-align: center;
		
	}
	.callout-inner-wraper {
		left: 15%;
		right: 15%;
		width: 70%;
	}
	.hero-callout::before {
		font-size: .8rem;
	}
	.hero-button {
		font-size: .8rem;
		display: block;
		margin: 0 auto;
		margin-top: 6%;
	}

	.logo {
		min-width: 12em;
	}
	
}

@media screen and (max-width: 46.3125em) {
	.hero-callout {
		font-size: 2rem;
	}
	.callout-inner-wraper {
		left: 15%;
		right: 15%;
		width: 70%;
	}
	.hero-callout::before {
		font-size: .6rem;
	}
	.hero-button {
		font-size: .7rem;
		padding: 1em 3em;
		
	}
	.logo {
		min-width: 10em;
	}

}